*{
}
main{
    width: 360px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
header{
    text-align: center;
    color: white;
    height: 300px;
}
header img{
    height: 140px;
    margin-top: 20px;


}
header h2{
    margin: 20px 0;
    font-size: 35px;

}
header p{
    font-size: 22px;
}
#content{
    background: rgb(238, 238, 238);
}
#buttons{
    display: flex;
    justify-content: center;
    padding-top: 20px; 
}
#buttons img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
    
}

#volume{
    text-align: center;

}
#volume input{
    width: 100%;

}
input[type="range" i] {
    -webkit-appearance: none;
    background: rgb(215, 201, 201);
    height: 4px;
    margin: 0%;
}
input[type="range" i]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(55, 32, 34);
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
h2{
    margin: 15px 0;
    
}
#color{
    text-align: center;
    margin-top: 20px;

}
#color button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
#color1{
    background: rgb(168, 166, 87);
}
#color2{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
#color3{
    background: linear-gradient(to right, #f7971e, #ffd200);
}
#color4{
    background: linear-gradient(to right, #00c9ff, #92fe9d);
}